<html>
<body>
<%- include header.ejs %>
<h2>The order has been sent to the restaurant, waiting for it to accept. </h2>
<a href="http://localhost:3000/orderStatus">Order Status and History</a>
</body>
</html>
